# NEXT_PUBLIC_APP_URL=

# Supabase 
## Auth
# NEXT_PUBLIC_AUTH_COOKIE_DOMAIN=
# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_ANON_KEY=
# SUPABASE_SERVICE_ROLE_KEY=
## Database
# DATABASE_URL=""

# Cloudinary
# NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
# NEXT_PUBLIC_CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
